.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    width: 33%;
}

.form div {
    display: flex;
    justify-content: space-between;
}

.form label {
    margin: 5px 5px;
    color: white;
}

.form input {
    margin: 5px 5px;
}

.form button {
    margin: 5px 5px;
}

a {
    margin: 5px 5px;
}
